</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="40" valign="top" bgcolor="#000000" height="1" colspan="3"><img src="pix.gif"
    width="1" height="1"></td>
  </tr>
  <tr>
    <td width="20" valign="top"><img src="pix.gif" width="1" height="1"></td>
    <td valign="top"><p align="center"><span class="menufont"><a href="index.html"
    class="menufont">Новости</a> <a href="members.html" class="menufont">Члены</a>
    <a href="history.html" class="menufont">История</a> <a href="wars.html"
    class="menufont">Войны</a> <a href="champs.html" class="menufont">Чемпы</a> <a
    href="demos.html" class="menufont">Демки</a> <a href="files.html" class="menufont">Файлы</a>
    <a href="photos.html" class="menufont">Фотки</a> <a href="links.html"
    class="menufont">Ссылки</a> <a href="articles.html" class="menufont">Статьи</a>
    <a href="board.html" class="menufont">Борда</a> <a
    href="http://www.guestbook.ru/book.cgi?action=show&amp;user=38clan" class="menufont"
    >Книга</a></span></td>
    <td width="20" valign="top"><img src="pix.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td width="40" valign="top" bgcolor="#000000" height="1" colspan="3"><img src="pix.gif"
    width="1" height="1"></td>
  </tr>
  <tr>
    <td width="20" valign="top"><img src="pix.gif" width="1" height="1"></td>
    <td valign="top"><p align="right"><span class="menufont">© <a
    href="mailto:voodoo@38net.ru" class="menufont">38 [VooDoo]</a>, 1999-2000. <a
    href="http://38clan.38net.ru" class="menufont">http://38clan.38net.ru</a>. Hosted by <a
    href="http://www.38net.ru" class="menufont" target="_blank">Internet cafe 38Net</a>.</span></td>
    <td width="20" valign="top"><img src="pix.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td width="42" valign="top" bgcolor="#000000" height="1" colspan="5"><img src="pix.gif"
    width="1" height="1"></td>
  </tr>
</table>
</center></div>
</body>